<!--<aside class="dashboard-sidebar">-->
<!--  <ul>-->
<!--    <li>Dashboard</li>-->
<!--    <li>Grades</li>-->
<!--    <li>Schedule</li>-->
<!--    <li>Attendance</li>-->
<!--    <li>Enrollment</li>-->
<!--    <li>Announcements</li>-->
<!--  </ul>-->
<!--</aside>-->

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>NEU STUDENT PORTAL</h1>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''"
               [mode]="isMobile ? 'over' : 'side'"
               [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <span *ngIf="!isCollapsed">Grades</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <span *ngIf="!isCollapsed">Attendance</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <span *ngIf="!isCollapsed">Enrollment</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <span *ngIf="!isCollapsed">Schedule</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
<!--  <mat-sidenav-content>-->
<!--    <h2>Content</h2>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
</mat-sidenav-container>


