//.dashboard-sidebar {
//  width: 220px;
//  background-color: #2c2c3e;
//  color: #fff;
//  height: 100vh;
//  padding: 1rem;
//
//  ul {
//    list-style: none;
//    padding: 0;
//    li {
//      margin: 1rem 0;
//      cursor: pointer;
//      &:hover {
//        color: #00bcd4;
//      }
//    }
//  }
//}


h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  background: #00458f;
  color: #ffffff;
}

mat-sidenav-container {
  height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}
.expanded {
  width: 250px;
}

