<nz-header class="header-container">
    <div class="header-left" style="display: flex; align-items: center;">
      <div class="logo">
        <img
          nz-image
          width="40"
          height="40"
          src="assets/images/NewEraLogo.jpeg"
          alt="Logo"
        />
      </div>
      <span class="student-name">HI, {{ name }}</span>
    </div>
    <!--    <div class="logo"></div>-->
    <!--    <div class="student-name">HI, {{ name }}</div>-->
    <div class="header-menu">
      <button nz-button nzType="primary" nzShape="round" class="logout-btn">
        Logout
      </button>
    </div>
  </nz-header>
